* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(233, 233, 233);
}

/*Buttons*/
.btnCircle {
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    padding: 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    transition: 0.3;
}

.btnCircle:hover {box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;}

.pop-up {
    visibility: hidden;
    width: fit-content;
    padding: 5px;
    font-size: 8pt;
    background-color: rgb(71, 71, 71);
    color: white;
    position: absolute;
    top: 55px;
    right: 120px;
    z-index: 80;
}

.btnCircle:hover .pop-up {
    visibility: visible;
}

/*End Buttons*/

aside {
    width: 18.5%;
    height: 100vh;
    padding: 1%;
    position: fixed;
    background: url('images/sidebar-1.jpg');
    background-size: cover;
    background-position: left;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.767);
}

hr {opacity: 0.5;}

.cool-page {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4%;
    gap: 20%;
    font-size: 10pt;
}

.profile {
    color: white;
    display: grid;
    grid-template-columns: 10% auto auto;
    gap: 18%;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
}

.avatar {
    width: 40px;
    height: 40px;
    background: url('images/avatar.jpg');
    background-size: cover;
    border-radius: 50%;
}

aside ul {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 8% 0 8% 0;
    margin-top: 0;
    font-size: 0.8rem;
    gap: 0.6rem;
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15%;
    padding: 5% 7%;
    border-radius: 3px;
    background-color: rgb(255, 60, 0);
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 5% 7%;
}

.list:hover {background-color: rgba(255, 255, 255, 0.473);}

.list-options {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

main {
    padding: 2%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: scroll;
    width: 80vw;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.header-left { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

.header-right ul {
    list-style-type: none;
    display: flex;
    gap: 10%;
    align-items: center;
    padding-right: 10%;
}

.header-right ul :nth-child(1) {
    display: flex;
    align-items: center;
    margin-right: 7%;
}

.header-right img {
    width: 40%;
    min-width: 17px;
    opacity: 0.6;
}

.header-right input {
    border: none;
    border-bottom: 2px solid rgb(164, 164, 164);
    background: transparent;
    padding: 3%;
    transition: 0.5s;
}

.header-right input:focus {
    outline: none;
    border-bottom: 2px solid rgb(146, 6, 143);
}

.dots {width: 3%; min-width: 20px; opacity: 0.7;}

.magnifier {width: 2%; min-width: 15px;}

.dashes {display: none;}

.bell {position: relative;}

.notify-no {
    position: absolute;
    background-color: red;
    color: white;
    padding: 0.1rem 0.3rem;
    border: 0.5px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    z-index: 100;
    font-size: 0.6rem;
    top: -8px;
    right: -6px;
}

h4 {font-weight: lighter;}

.sections {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.locations {
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.icon {
    background-color: rgb(86, 179, 86);
    width: fit-content;
    padding: 2%;
    border-radius: 5px;
    position: absolute;
    top: -20px;
    left: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

h1 {
    font-weight: lighter;
    font-size: 1.5rem;
    position: absolute;
    left: 110px;
}

.locations-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6%;
}

table tr {border-bottom: 2px solid rgb(179, 177, 177);}

table tr:last-child {border-bottom: none;}

table {
    border-collapse: collapse;
    width: 25%;
    line-height: 2.5rem;
    text-indent: 5%;
    font-size: 1rem;
}

table td:nth-child(3) {text-align: end;}

iframe {padding-top: 0.6%; width: 71%; height: 105%;}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.box {
    position: relative;
    padding: 2.5%;
    background-color: white;
    border-radius: 5px;
    align-items: center;
}


.stat-icon {
    background-color: orange;
    width: fit-content;
    padding: 4%;
    border-radius: 5px;
    position: absolute;
    top: -20px;
    left: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.sofa {background-color: orange;}

.description {
    text-align: right;
    line-height: 2.2rem;
}

@media only screen and (max-width: 1024px) {
    aside {
        display: none;
    }

    main {
        margin-left: 0;
        width: 100vw;
    }


}

@media only screen and (max-width: 768px) {
    .stats {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 320px) {}
