* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 1fr;
    grid-template-columns: 250px 1fr;
    background-color: rgb(233, 233, 233);
}

/*Buttons*/
.btnCircle {
    border-radius: 50%;
    background-color: white;
    padding: 13px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3;
    -o-transition: 0.3;
    transition: 0.3;
}

.btnCircle:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

/*End Buttons*/

.aside {
    width: 250px;
    height: 100vh;
    padding: 1%;
    position: fixed;
    background: url('images/sidebar-1.jpg');
    background-size: cover;
    background-position: left;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.767);
}

hr {
    opacity: 0.5;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.cool-page {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7%;
    gap: 20%;
    font-size: 1rem;
}

.profile {
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 10% auto 10% auto;
    grid-template-columns: auto auto auto;
    gap: 10%;
    padding: 5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.9rem;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    background: url('images/avatar.jpg');
    background-size: cover;
    border-radius: 50%;
}

aside ul {
    list-style-type: none;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8% 0 50% 0;
    margin-top: 0;
    font-size: 0.8rem;
    gap: 0.6rem;
}

.dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15%;
    padding: 5% 7%;
    border-radius: 3px;
    background-color: rgb(255, 60, 0);
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    padding: 5% 7%;
}

.list:hover {
    background-color: rgba(255, 255, 255, 0.473);
}

.list-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding: 1% 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 3rem;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 3%;
}

header .material-icons {opacity: 0.6;}

.md-21 {font-size: 21px !important;}

.header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10%;
    position: relative;
}

.header-right ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 2em;
}

.header-right li {position: relative;}

.search-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.5em;
    gap: 7%;
}

.header-right input {
    border: none;
    border-bottom: 2px solid rgb(164, 164, 164);
    background: transparent;
    padding: 3%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.header-right input:focus {
    outline: none;
    border-bottom: 2px solid rgb(146, 6, 143);
}

.menu {display: none;}

.bell {position: relative;}

.notification-list {
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: white;
    width: 220px;
    position: absolute;
    right: 85%;
    top: 5%;
    z-index: 2222;
    visibility: hidden;
}

.notification:hover .notification-list {visibility: visible;}

.notification-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 2% 0 2% 0;
    gap: 1%;
}

.notification-list ul li {
    padding: 5% 0% 5% 5%;
    border-radius: 2px;
    font-size: 0.8rem;
    width: 97%;
    text-align: left;
}

.notification-list ul li:hover {
    background-color: rgb(255, 60, 0);
    color: white;
}

.notify-no {
    position: absolute;
    background-color: red;
    color: white;
    padding: 0.1rem 0.3rem;
    border: 0.5px solid white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
    font-size: 0.6rem;
    top: -15%;
    right: -10%;
}

.headings {
    font-weight: lighter;
    color: black;
}

.sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.5rem;
}

.locations {
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1%;
    padding: 2%;
}

.icon {
    background-color: #009e4c;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.15rem;
    border-radius: 2px;
    position: absolute;
    top: -1.2em;
    left: 1em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.locations h1 {
    font-weight: lighter;
    font-size: 1.1em;
    position: absolute;
    left: 5.6rem;
    top: 0.5rem;
    padding: 1% 5% 0 0;
}

.locations-top {padding-bottom: 65px;}

.locations-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 2em;
}

.table-wrapper {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

table {
    border-collapse: collapse;
    line-height: 2.5;
    cursor: text;
    font-size: 0.95rem;
    width: 100%;
    height: 14em;
}

table tr {border-bottom: 1px solid rgb(179, 177, 177);}

table tr td:first-child {width: 86%;}

table tr:last-child {border-bottom: none;}

.td-padding {padding: 0 0.8em;}

table td:nth-child(3) {text-align: end;}

.iframe-wrapper {
    -webkit-box-flex: 7;
    -ms-flex: 7;
    flex: 7;
    position: relative;
}

.iframe-wrapper iframe {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15em;
    border: 0;
}

.stats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.box {
    position: relative;
    padding: 2.5%;
    background-color: white;
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stat-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.1rem;
    border-radius: 2px;
    position: absolute;
    top: -12%;
    left: 3%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sofa {background-color: #ff7d00;}

.bars {background-color: #ef004d;}

.white {
    color: white;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.store {background-color: #009e4c;}

.earth {background-color: #00abc1;}

.description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    line-height: 1.6;
    color: gray;
    padding: 2%;
}

.bottom-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1%;
    padding: 1.5%;
    margin-top: 1.5%;
    opacity: 0.5;
    font-size: 0.9rem;
    color: rgb(53, 53, 53);
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5em;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    width: 100%;
}


.card-top:first-child {
    width: 100%;
    padding: 0 1em;
}

.card-img {
    border-radius: 5px;
    width: 100%;
    position: relative;
    z-index: 5555;
    -webkit-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    transform: translateY(-2em);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.card-top:hover img {
    -webkit-transform: translateY(-3.8em);
    -ms-transform: translateY(-3.8em);
    transform: translateY(-3.8em);
}

.card h3 {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-top: -15%;
}

.card-mid {
    text-align: center;
    padding: 2em 1em 3em 1em;
    color: gray;
    font-size: 0.9rem;
    margin-top: -2%;
}

.card-bottom {
    width: 100%;
    padding: 0 1em;
}

.card-bottom div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20%;
    padding: 0.8em 0;
    font-size: 0.9rem;
}

.gray {color: gray;}

.green {color: green;}

.red {color: red;}

.btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: -4em;
}

.size {
    font-size: 0.8rem;
    color: gray;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 2%;
    font-size: 0.8rem;
    gap: 5%;
}

.footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15%;
    list-style-type: none;
    font-weight: bold;
    word-spacing: 10px;
}

@media only screen and (max-width: 1000px) {
    body {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

    main {
        width: 98vw;
    }

    header {
        padding-top: 2%;
    }

    .hidden {
        display: none;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .locations-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .table-wrapper,
    .iframe-wrapper {
        width: 100%;
    }

    .cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .card h3 {
        margin-top: -3%;
    }
}

@media only screen and (max-width: 320px) {
    main {
        width: 100vw;
        padding: 8%;
    }

    .locations-content {
        padding: 20% 5% 5% 5%;
    }

    .stats {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .card h3 {
        margin-top: -15%;
    }
}