body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
    grid-row: 1fr 1fr 1fr;
}

.green-backdrop {
    grid-row: 1 / 2;
    background-color: aqua;
    border-radius: 50px;
}

main {
    grid-row: ;
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    background-color: bisque;
}